.list {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.list ion-col, ion-row, p {
    padding: 5px;
    border: solid white 1px;
}

.header {
    font-weight: bolder;
}