ion-label p{
    font-size: 1rem;
    font-weight: bolder;
}

.equation, .form {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.row {
    display: flex;
    justify-content: center;
}

.form input{
    text-align: center;
}

.display {
    height: 55px;
    width: 160px;
}

.display p, ion-label{
    text-align: center;
}

.row {
    margin-top: 15rem;
}
