#container {
  text-align: center;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container strong {
  font-size: 25px;
}

#container p {
  font-size: 16px;
  font-weight: bolder;
}

#container ion-button {
  margin: 10vh auto;
  max-width: fit-content;
}