<div class="text">
  <p>The Equation:</p>
  <br>
  <p><strong>{{equation}}</strong></p>
  <br>
  <p>Your answer:</p>
  <br>
  <p><strong>{{user_inp}}</strong></p>
  <br>
  <p><strong></strong>The Right answser:</p>
  <br>
  <p><strong>{{right_answ}}</strong></p>
</div>

<form [formGroup]='nameForm' (ngSubmit)="onSubmit()" id="form" class="container">
  <label for=""><Strong>Enter  Nickname</Strong></label>
  <input type='text' formControlName="pseudo" autofocus>
  <input type="submit" value="enter" hidden>
</form>
