<div class="text">
  <p>L'équation était:</p>
  <br>
  <p><strong>{{equation}}</strong></p>
  <br>
  <p>Vous avec répondu:</p>
  <br>
  <p><strong>{{user_inp}}</strong></p>
  <br>
  <p><strong></strong>La bonne réponse est:</p>
  <br>
  <p><strong>{{right_answ}}</strong></p>
</div>

<form [formGroup]='nameForm' (ngSubmit)="onSubmit()" id="form" class="container">
  <label for=""><Strong>Entrer un Pseudo</Strong></label>
  <input type='text' formControlName="pseudo">
  <input type="submit" value="enter" hidden>
</form>
